<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">

      label {
    display: flex;
    justify-content: flex-end;
    text-align: left;
    width: 400px;
    line-height: 26px;
    margin-bottom: 10px;
    }
    label#message{
    text-align: left;
    line-height: 10px;
    }
input {
  align-self:center;
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
}

    </style>
{%block head%}
{%endblock%}

  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
