{% load static %}

<html>
    <head>
        <title>Web Team Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	      <link rel="stylesheet" type="text/css" href="https://fontawesome.com/v4.7.0/icon/times">
        <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bsootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel="stylesheet"  href="{% static '/css/clashteam.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Advent Pro' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link rel="stylesheet" href="../css/clashteam.css">
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
<body>
    <nav class="navbar navbar-light" style="background-color:#1f2839;">
        <a class="navbar-brand mr-0 ml-0 pb-0" href="#" style="margin-right: 0; padding: 0em;"> <img id="clashlogo"
            src="{% static '/images/clashwhite.png' %}" width="80px" height="40px" alt=""> </a>
        <a class="navbar-brand" href="{% url 'signin'%}" style="color:white;margin-right: 0; padding: 0em;margin-left:10px;"> Back to Login </a>
    <ul class=" nav navbar-nav ml-auto mx-0">
        <a class="navbar-brand mr-0 ml-0 pb-0" href="#" style="margin-right: 0; padding: 0em;"> <img
                src="{% static '/images/logo pisb_2.png' %}" id="pisblogo" class="d-inline-block align-top" width="115px" height="40px"  alt="PISB logo"> </a>
    </ul>
    </nav>
    
    
    <div class="st" style="margin-top: 2vh;"></div>
<div class="container-fluid" >
  <div class="row" >
   
    <div class="col-sm d-flex justify-content-around">
        <div class="main1" style= "background-image: url('{% static '/images/kaustubh.jpeg' %}');">
            <div class="gradient">
                <div class="content d-flex justify-content-center align-items-center" style="text-align:center; font-size:22px;">
                  <div class="name">Kaustubh Odak </div>                
                  <!-- <div class="icons">
                    <a href="https://www.linkedin.com/in/fatema-katawala-2b99451a1/"><i class="fa fa-linkedin-square bounce" aria-hidden="true"></i></a>
                </div> -->                
             </div>            
            </div>
        </div>
    </div>
    <div class="col-sm d-flex justify-content-around">
        <div class="main1" style= "background-image: url('{% static '/images/tanmay.jpeg' %}');">
            <div class="gradient">
                <div class="content d-flex justify-content-center align-items-center" style="text-align:center; font-size:22px;">
                  <div class="name">Tanmay Pardeshi </div>                
                  <!-- <div class="icons">
                    <a href="https://www.linkedin.com/in/fatema-katawala-2b99451a1/"><i class="fa fa-linkedin-square bounce" aria-hidden="true"></i></a>
                </div> -->                
             </div>            
            </div>
        </div>
    </div>
    <div class="col-sm d-flex justify-content-around">
        <div class="main1" style= "background-image: url('{% static '/images/pranjal.jpeg' %}');">
            <div class="gradient">
                <div class="content d-flex justify-content-center align-items-center" style="text-align:center; font-size:22px;">
                  <div class="name"> Pranjal Newalkar</div>                
                  <!-- <div class="icons">
                    <a href="https://www.linkedin.com/in/fatema-katawala-2b99451a1/"><i class="fa fa-linkedin-square bounce" aria-hidden="true"></i></a>
                </div> -->                
             </div>            
            </div>
        </div>
    </div>
  </div>
</div>
       
                <div class="st">Junior Web Team</div>
                <div class="row">
                    <div class="col-md-3 col-sm-6 d-flex justify-content-center">
                        <div class="main6 first" style= "background-image: url('{% static '/images/suyash.jpeg' %}');">
                            <div class="gradient">
                                <div class="content d-flex justify-content-center align-items-center" style="text-align:center; font-size:22px;">
                                    <div class="name">Suyash More </div>                
                                    <!-- <div class="icons">
                                      <a href="https://www.linkedin.com/in/fatema-katawala-2b99451a1/"><i class="fa fa-linkedin-square bounce" aria-hidden="true"></i></a>
                                  </div> -->                
                               </div> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 d-flex justify-content-center">
                        <div class="main6 first" style= "background-image: url('{% static '/images/megha.jpeg' %}');">
                            <div class="gradient">
                                <div class="content d-flex justify-content-center align-items-center" style="text-align:center; font-size:22px;">
                                    <div class="name">  Megha Dandapat </div>                
                                    <!-- <div class="icons">
                                      <a href="https://www.linkedin.com/in/fatema-katawala-2b99451a1/"><i class="fa fa-linkedin-square bounce" aria-hidden="true"></i></a>
                                  </div> -->                
                               </div> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 d-flex justify-content-center">
                        <div class="main6 first" style= "background-image: url( '{% static '/images/varada.jpeg' %}');">
                            <div class="gradient">
                                <div class="content d-flex justify-content-center align-items-center" style="text-align:center; font-size:22px;">
                                    <div class="name">  Varada Kalaskar   </div>                
                                    <!-- <div class="icons">
                                      <a href="https://www.linkedin.com/in/fatema-katawala-2b99451a1/"><i class="fa fa-linkedin-square bounce" aria-hidden="true"></i></a>
                                  </div> -->                
                               </div> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 d-flex justify-content-center">
                        <div class="main6 first" style= "background-image: url('{% static '/images/siddharth.jpeg' %}');">
                            <div class="gradient">
                                <div class="content d-flex justify-content-center align-items-center" style="text-align:center; font-size:22px;">
                                    <div class="name">  Siddharth Bora </div>                
                                    <!-- <div class="icons">
                                      <a href="https://www.linkedin.com/in/fatema-katawala-2b99451a1/"><i class="fa fa-linkedin-square bounce" aria-hidden="true"></i></a>
                                  </div> -->                
                               </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6 d-flex justify-content-center">
                        <div class="main6" style= "background-image: url('{% static '/images/esha.jpeg' %}');">
                            <div class="gradient">
                                <div class="content d-flex justify-content-center align-items-center" style="text-align:center; font-size:22px;">
                                    <div class="name">  Esha Anvekar </div>                
                                    <!-- <div class="icons">
                                      <a href="https://www.linkedin.com/in/fatema-katawala-2b99451a1/"><i class="fa fa-linkedin-square bounce" aria-hidden="true"></i></a>
                                  </div> -->                
                               </div> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 d-flex justify-content-center">
                        <div class="main6" style= "background-image: url('{% static '/images/shrikrushna.jpg' %}');">
                            <div class="gradient">
                                <div class="content d-flex justify-content-center align-items-center" style="text-align:center; font-size:22px;">
                                    <div class="name">  Shrikrushna Zirape </div>                
                                    <!-- <div class="icons">
                                      <a href="https://www.linkedin.com/in/fatema-katawala-2b99451a1/"><i class="fa fa-linkedin-square bounce" aria-hidden="true"></i></a>
                                  </div> -->                
                               </div> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 d-flex justify-content-center">
                        <div class="main6" style= "background-image: url('{% static '/images/shivendu.jpeg' %}');">
                            <div class="gradient">
                                <div class="content d-flex justify-content-center align-items-center" style="text-align:center; font-size:22px;">
                                    <div class="name">Shivendu Shukre</div>                
                                    <!-- <div class="icons">
                                      <a href="https://www.linkedin.com/in/fatema-katawala-2b99451a1/"><i class="fa fa-linkedin-square bounce" aria-hidden="true"></i></a>
                                  </div> -->                
                               </div> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 d-flex justify-content-center">
                        <div class="main6" style= "background-image: url('{% static '/images/saima.jpeg' %}');">
                            <div class="gradient">
                                <div class="content d-flex justify-content-center align-items-center" style="text-align:center; font-size:22px;">
                                    <div  class="name">  Saima Ansari </div>                
                                     <!-- <div class="icons">
                                      <a href="https://www.linkedin.com/in/fatema-katawala-2b99451a1/"><i class="fa fa-linkedin-square bounce" aria-hidden="true"></i></a>
                                  </div>                 -->
                               </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-3 col-sm-6 d-flex justify-content-center" id="blank" style="display:none i !important;"></div>
                    
                    <div class="col-md-3 col-sm-6 d-flex justify-content-center" >
                        <div class="main6 "  style=" background-image: url('{% static '/images/rohit.jpg' %}');">
                            <div class="gradient">
                                <div class="content d-flex justify-content-center align-items-center" style="text-align:center; font-size:22px;">
                                    <div class="name">  Rohit Patil </div>
                                    <!-- <div class="icons">
                                      <a href="https://www.linkedin.com/in/fatema-katawala-2b99451a1/"><i class="fa fa-linkedin-square bounce" aria-hidden="true"></i></a>
                                  </div> -->                
                               </div> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 d-flex d-flex justify-content-center">
                        
                        <div class="main6 " style= "background-image: url('{% static '/images/rushi.jpeg' %}');">
                            <div class="gradient">
                                <div class="content d-flex justify-content-center align-items-center" style="text-align:center; font-size:22px;">
                                    <div class="name">  Rushikesh Pallod </div>                
                                    <!-- <div class="icons">
                                      <a href="https://www.linkedin.com/in/fatema-katawala-2b99451a1/"><i class="fa fa-linkedin-square bounce" aria-hidden="true"></i></a>
                                  </div> -->                
                               </div> 
                            </div>
                        </div>
                    </div>
                </div>
                


            </div> 
            <nav class="navbar navbar-expand-lg justify-content-center navbar-light navfooter"
  style=" margin-left: -1vw; margin-top:2.5vw;background-color: #1f2839;">
                <div class="navbar-brand mc-auto" style="color:white">&#169PICT IEEE Student Branch </div>
</nav>
</body>
